# virtual environment
/venv

# ide
.idea
.vscode

# test
/coverage
.coverage
.pytest_cache
__pycache__
test-reports/

# mypy
.mypy_cache/

# misc
.githooks.ini

# build
/build
/dist
/python_githooks.egg-info
